body{
    display: grid;
    background-color: whitesmoke;
    grid-template-rows: 33vh 34vh 33vh;
    grid-template-columns: 33% 34% 33%;
    grid-template-areas: 
        'f f s'
        't fv s'
        't fo fo';
}

.first{
    grid-area: f;
    background-color: aqua;
}

.second{
    grid-area: s;
    background-color: rgb(88, 170, 143);
}

.third{
    grid-area: t;
    background-color: bisque;
}

.fourth{
    grid-area: fo;
    background-color: rgb(255, 205, 240);
}

.fifth{
    grid-area: fv;
    background-color: rgb(218, 218, 28);
}